/*img {
    position: absolute;
    top: 20;
    left: 50;
}*/

.axis text {
    font: 10px sans-serif;
    fill: white;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
}

.axis .domain {
    stroke: none;
}

#chart-labels {
    display: inline;
    min-width: 80px;
    position: absolute;
    top: 0;
    right: 10px;
    background-color: transparent;
    z-index: 900;
}

#chart-labels .chart-label {
    padding: 10px 4px;
    display: block;
    cursor: pointer;
    color: #ccc;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

#chart-labels .chart-label:hover {
    font-size: 1.3em;
    color: black;
}

#chart-labels .chart-label.active {
    font-size: 1.3em;
    color: black;
}
