svg {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

text {
  font: 10px sans-serif;
}

form {
  z-index: 100;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}
