@charset "UTF-8";
/**
* http:/www.thepaper.cn,
* date 2021-01
* By The Paper data news team
**/

* {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-align: justify;
    margin: 0px auto;
    padding: 0px;
}

body {
    font-family: "Helvetica", "PingFang SC";
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: unset;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


#root {
    width: 800px;
    height: 600px;
    border: 1px solid #000;
}

.axis text {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}