.imageBox {
  border: 1px solid #eee;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
}
.hide {
  display: none!important;
}
#bigImageBox {
    position: absolute;
    top: 130px;
    left: -300px;
    padding: 20px;
}
#chartBox {
  position: absolute;
  top: 130px;
  right: 0;
  padding: 20px;
}
#bigImageBox img {
  transform: scaleX(-1);
  filter: FlipH;
}