@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 100%;
}

body, ul, li, h1, h2, h3, h4, h5, dl, dt, dd, p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 400;
}

ul, li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

img, iframe {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #20A75E;
}

a:hover {
  text-decoration: underline;
}

.module {
  border-bottom: 1px solid #EFEFEF;
}

.module .module-inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 15px;
}

.module h2 {
  padding-bottom: 30px;
  font-size: 32px;
}

.module p {
  line-height: 2;
}

.module p.detailLink {
  margin-top: .5em;
  font-weight: bold;
}

.module p.detailLink a {
  padding-right: 18px;
  background: url("./images/icon-right.png") no-repeat 100% 50%;
  background-size: 9px 14px;
}

.module p.buttonLink {
  text-align: center;
  padding-top: 20px;
}

.module p.buttonLink a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 200px;
  height: 34px;
  padding: 0 20px;
  text-align: center;
  border-radius: 17px;
  background-color: #fff;
  line-height: 34px;
  font-weight: bold;
  font-size: 16px;
  color: #20A75E;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.module .main-article p {
  margin-bottom: 1em;
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(4px);
}

.top-menu #menu-body {
  max-width: 1120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
}

.top-menu h1.menu-home {
  position: absolute;
  top: 6px;
}

.top-menu h1.menu-home a {
  display: block;
  background: url("./images/logo-header.png") no-repeat;
  background-size: 58px 37px;
  width: 58px;
  height: 37px;
  overflow: hidden;
  text-indent: -9999px;
}

.top-menu ul.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-menu li.body-item {
  list-style: none;
  height: 50px;
  line-height: 50px;
  margin-left: 30px;
}

.top-menu li.body-item a {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  text-decoration: none;
}

.top-menu li.body-item a:hover {
  text-decoration: underline;
}

.top-menu .menu-about, .top-menu .menu-product {
  position: relative;
}

.top-menu .menu-about a, .top-menu .menu-product a {
  background: url("./images/icon-triangle.png") no-repeat 100% 50%;
  background-size: 8px 6px;
  padding-right: 12px;
}

.top-menu .menu-about:hover ul.menu-inner, .top-menu .menu-product:hover ul.menu-inner {
  display: block;
}

.top-menu .menu-github a {
  background: url("./images/icon-github-small.png") no-repeat;
  background-size: 21px 21px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  text-indent: -9999px;
}

.top-menu .menu-twitter a {
  background: url("./images/icon-twitter-small.png") no-repeat;
  background-size: 21px 19px;
  width: 21px;
  height: 19px;
  overflow: hidden;
  text-indent: -9999px;
}

.top-menu .menu-facebook a {
  background: url("./images/icon-facebook-small.png") no-repeat;
  background-size: 9px 19px;
  width: 9px;
  height: 19px;
  overflow: hidden;
  text-indent: -9999px;
}

.top-menu ul.menu-inner {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 10px 20px;
  white-space: nowrap;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.top-menu ul.menu-inner li {
  line-height: 1;
  padding: 10px 0;
}

.top-menu ul.menu-inner li a {
  display: block;
  padding-right: 40px;
  background: url("./images/icon-right.png") no-repeat 100% 50%;
  background-size: 9px 14px;
}

.main-intro {
  height: 100vh;
  min-height: 800px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 0;
  background-color: #fcfcfc;
}

.main-intro .module-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1120px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-intro .intro-text {
  position: relative;
  background: url("./images/icon-under.png") no-repeat 50% 100%;
  background-size: 34px 18px;
  padding-bottom: 50px;
  text-align: center;
}

.main-intro .intro-text .intro-title {
  margin: 0 30px 30px 0;
  font-weight: bold;
  font-size: 28px;
}

.main-intro .intro-text .intro-title .title-large {
  font-size: 35px;
}

.main-intro .intro-text .anchor-link {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 42px;
}

.main-intro .intro-globe {
  max-width: 650px;
  text-align: center;
}

.main-news {
  background-color: #fcfcfc;
}

.main-news .module-inner {
  padding: 0 0 20px;
}

.main-news dl {
  background: #fff;
}

.main-news dl dt {
  padding: 10px;
  text-align: center;
  font-size: 17px;
}

.main-news dl dd {
  border-top: 1px solid #F0F0F0;
  font-size: 15px;
}

.main-news dl dd a {
  position: relative;
  display: block;
  padding: 8px 20px 8px 15px;
  color: #000;
  background: url("./images/icon-right-disable.png") no-repeat 99% 50%;
  background-size: 8px 12px;
}

.main-news dl dd a:hover {
  text-decoration: none;
}

.main-news dl dd a[href] {
  background-image: url("./images/icon-right.png");
}

.main-news dl dd a[href]:hover {
  text-decoration: underline;
  background-color: #fafafa;
}

.main-about {
  background: -webkit-gradient(linear, left top, left bottom, from(#28B8D8), to(#34CEDC));
  background: -o-linear-gradient(#28B8D8, #34CEDC);
  background: linear-gradient(#28B8D8, #34CEDC);
  color: #fff;
  padding-bottom: 240px;
  text-align: center;
  font-weight: bold;
}

.main-about h2 {
  font-size: 32px;
  font-weight: bold;
}

.main-about img {
  width: 100%;
  max-width: 576px;
  padding-top: 80px;
}

.main-about p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.main-appInfo {
  position: relative;
}

.main-appInfo .appInfo-video {
  margin-top: -250px;
  padding: 50px 0 60px;
  background: url(./images/bg-video.png) no-repeat 50% 0;
  background-size: 1110px 586px;
  text-align: center;
}

.main-appInfo .appInfo-video img {
  max-width: 820px;
  width: 100%;
}

.main-appInfo h2 {
  font-weight: bold;
}

.main-appInfo h3 {
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 20px;
}

.main-appInfo .appInfo-download {
  background-color: #f7f7f7;
  margin-top: 30px;
  padding: 25px;
  text-align: center;
}

.main-appInfo .appInfo-download .download-title {
  padding-bottom: 25px;
  font-weight: normal;
  font-size: 100%;
}

.main-appInfo .appInfo-download .download-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.main-appInfo .appInfo-download .download-link a {
  display: block;
  margin: 0 15px;
  padding: 1em 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #20A75E;
  border-radius: 6px;
  color: #fff;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.12);
}

.main-appInfo .appInfo-download .download-link a:nth-child(3) {
  padding: 1.8em 0 0;
}

.main-case .case-head {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 15px 0;
  text-align: center;
}

.main-case .case-head .case-title {
  display: inline-block;
  background: url("./images/text-sampleCatch.png") no-repeat 0 0;
  background-size: 114px 46px;
  width: 114px;
  height: 46px;
  overflow: hidden;
  text-indent: -9999px;
  margin-right: 5px;
}

.main-case .case-wrap {
  padding: 60px 0;
  border-bottom: 1px solid #EFEFEF;
}

.main-case .case-wrap .case-overview {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.main-case .case-wrap .case-overview h3 {
  padding-bottom: 20px;
  font-size: 26px;
}

.main-case .case-wrap .case-body {
  max-width: 1120px;
  margin: 0 auto;
  text-align: center;
}

.case-body.sample-run .controlPanel {
  max-width: 1100px;
  margin: 0 auto;
}

.case-body.sample-run .controlPanel p {
  margin: 10px 0;
  text-align: left;
  font-size: 15px;
}

.case-body.sample-run .controlPanel table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.case-body.sample-run .controlPanel table th, .case-body.sample-run .controlPanel table td {
  margin: 0;
  border: 0;
  padding: 0;
  border-right: 1px solid #dadada;
}

.case-body.sample-run .controlPanel table th:last-child, .case-body.sample-run .controlPanel table td:last-child {
  border-right: 0;
}

.case-body.sample-run .controlPanel table th {
  padding: 6px 0;
  background-color: #f0f0f0;
  color: #333;
  font-weight: normal;
}

.case-body.sample-run .controlPanel table th.em {
  background-color: #E8E8E8;
  color: #286D29;
  font-size: 19px;
  font-weight: bold;
}

.case-body.sample-run .controlPanel table th.em.row {
  width: 220px;
}

.case-body.sample-run .controlPanel table th.em.col {
  width: 60px;
}

.case-body.sample-run .controlPanel table td {
  background-color: #fafafa;
  color: #9b9b9b;
}

.case-body.sample-run .controlPanel table td.empty {
  background-color: transparent;
}

.case-body.sample-run .controlPanel table td.inputArea {
  position: relative;
}

.case-body.sample-run .controlPanel table td.inputArea input {
  width: 100%;
  height: 56px;
  border: 4px solid #62BA62;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 25px;
  color: #333;
}

.case-body.sample-run .controlPanel table td.inputArea:before {
  position: absolute;
  content: "秒";
  right: 30px;
  top: 15px;
  font-size: 18px;
  color: #333;
}

.case-body.sample-run .controlPanel table td.inputArea:after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  background-color: #62BA62;
  width: 14px;
  height: 14px;
}

.case-body.sample-run .controlPanel button {
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  padding: 0 40px;
  border-radius: 20px;
  background-color: #20A75E;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.case-body.sample-medal h4 {
  font-size: 20px;
  font-weight: bold;
}

.case-body.sample-medal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.case-body.sample-medal li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 32px;
  line-height: 32px;
  margin-right: 5px;
  color: #fff;
  background-color: #D8D8D8;
  cursor: pointer;
}

.case-body.sample-medal li.current {
  background-color: #303133;
}

.case-body.sample-medal li:last-child {
  margin-right: 0;
}

.main-download .module-inner {
  text-align: center;
  padding: 50px 15px;
}

.main-download h2 {
  padding: 0 0 10px;
  font-size: 32px;
  line-height: 42px;
  vertical-align: middle;
}

.main-download a {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  margin-left: 20px;
  padding: 0 50px;
  background-color: #20A75E;
  border-radius: 4px;
  vertical-align: middle;
  color: #fff;
  font-weight: bold;
}

.main-workshop {
  background-color: #fafafa;
}

.main-workshop .module-inner {
  padding-bottom: 150px;
  background: url(./images/bg-workshop.png) no-repeat 100% 100%;
  background-size: 478px auto;
}

.main-development {
  background-color: #fafafa;
}

.main-development .module-inner {
  padding-bottom: 150px;
  background: url(./images/bg-development.png) no-repeat 100% 95%;
  background-size: 280px auto;
}

.main-development dl {
  margin: 20px 60px 0 0;
  background: #fff;
}

.main-development dl dt {
  padding: 10px;
  text-align: center;
  font-size: 17px;
}

.main-development dl dd {
  border-top: 1px solid #F0F0F0;
  font-size: 15px;
}

.main-development dl dd a {
  position: relative;
  display: block;
  padding: 8px 20px 8px 15px;
  color: #000;
  background: url("./images/icon-right-disable.png") no-repeat 99% 50%;
  background-size: 8px 12px;
}

.main-development dl dd a:hover {
  text-decoration: none;
}

.main-development dl dd a[href] {
  background-image: url("./images/icon-right.png");
}

.main-development dl dd a[href]:hover {
  text-decoration: underline;
  background-color: #fafafa;
}

.main-eventInfo {
  background: -webkit-gradient(linear, left top, left bottom, from(#28B8D8), to(#34CEDC));
  background: -o-linear-gradient(#28B8D8, #34CEDC);
  background: linear-gradient(#28B8D8, #34CEDC);
  border-bottom: 0;
  color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main-eventInfo h2 {
  padding-bottom: 10px;
  font-weight: bold;
}

.main-eventInfo p.large-txt {
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 20px;
}

.main-eventInfo h3 {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.main-eventInfo ul.eventInfo-coming {
  padding: 60px 0;
}

.main-eventInfo ul.eventInfo-coming li {
  padding-bottom: 25px;
}

.main-eventInfo ul.eventInfo-coming a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.12);
}

.main-eventInfo ul.eventInfo-coming a:hover {
  background-color: #f9f9f9;
}

.main-eventInfo ul.eventInfo-coming a .event-date {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 175px;
  padding: 20px 10px 20px 25px;
  border-right: 1px solid #d7d7d7;
}

.main-eventInfo ul.eventInfo-coming a .event-date .date-day {
  display: block;
  margin-bottom: .2em;
  font-size: 20px;
}

.main-eventInfo ul.eventInfo-coming a .event-date .date-place {
  display: block;
  width: 139px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.main-eventInfo ul.eventInfo-coming a .event-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 25px;
}

.main-eventInfo ul.eventInfo-coming a .event-description .desc-tag {
  padding-bottom: 10px;
}

.main-eventInfo ul.eventInfo-coming a .event-description .desc-tag .tag {
  display: inline-block;
  margin-right: 10px;
  padding: 4px 12px;
  border-radius: 12px;
  background-color: #aaa;
  color: #fff;
  font-size: 14px;
  line-height: 1;
}

.main-eventInfo ul.eventInfo-coming a .event-description .desc-tag .tag.open {
  background-color: #62BA62;
}

.main-eventInfo ul.eventInfo-coming a .event-description .desc-tag .tag.closed {
  background-color: #EF674A;
}

.main-eventInfo ul.eventInfo-coming a .event-description .desc-eventTitle {
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: normal;
}

.main-eventInfo ul.eventInfo-coming a .event-description .desc-text {
  font-size: 13px;
}

.main-eventInfo .eventInfo-past li {
  display: inline-block;
  position: relative;
  width: 32.5%;
  margin-right: 1%;
}

.main-eventInfo .eventInfo-past li:last-child {
  margin-right: 0;
}

.main-eventInfo .eventInfo-past li:before {
  display: block;
  content: '';
  padding-top: 100%;
}

.main-eventInfo .eventInfo-past li a {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ccc no-repeat 50%;
  background-size: cover;
}

.main-eventInfo .eventInfo-past li a .eventInfo-description {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
}

.main-eventInfo .eventInfo-past li a .eventInfo-description .desc-eventTitle {
  font-size: 14px;
}

.main-snsLink {
  background-color: #fafafa;
  border-bottom: 0;
}

.main-snsLink h2 {
  padding-bottom: 10px;
  font-weight: bold;
}

.main-snsLink p {
  padding: 20px 0;
}

.main-snsLink .snsLink-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.main-snsLink .snsLink-wrap .snsLink-module {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.main-snsLink .snsLink-wrap .snsLink-module:last-child {
  margin-right: 0;
}

.main-snsLink .snsLink-wrap .snsLink-module .module-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-snsLink .snsLink-wrap .snsLink-module .module-head h3 {
  display: inline-block;
  padding-right: 15px;
}

.main-snsLink .snsLink-wrap .snsLink-module .module-head h3 img {
  width: 48px;
}

.main-joinus {
  background-color: #62BA62;
  border-bottom: 0;
  color: #fff;
}

.main-joinus .module-inner {
  position: relative;
}

.main-joinus .module-inner h2 {
  font-weight: bold;
}

.main-joinus .module-inner:after {
  position: absolute;
  bottom: -100px;
  right: 0;
  display: block;
  content: "";
  width: 170px;
  height: 148px;
  background: url(./images/bg-interview.png) no-repeat 100% 100%;
  background-size: 170px 148px;
}

.main-joinus .joinus-github {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-joinus .joinus-github ul {
  padding-left: 60px;
}

.main-joinus .joinus-github li {
  margin-bottom: 15px;
}

.main-joinus .joinus-github li:last-child {
  margin-bottom: 0;
}

.main-joinus .joinus-github li a {
  display: block;
  width: 240px;
  height: 34px;
  text-align: center;
  border-radius: 17px;
  background-color: #fff;
  line-height: 34px;
  font-weight: bold;
  color: #20A75E;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.main-interview {
  background-color: #58B058;
  border-bottom: 0;
  color: #fff;
}

.main-interview h2 {
  padding-bottom: 30px;
}

.main-interview li {
  display: inline-block;
  width: 32.3%;
  margin-right: 1.5%;
  margin-bottom: 40px;
  vertical-align: top;
}

.main-interview li:nth-child(3n) {
  margin-right: 0;
}

.main-interview li a {
  color: #fff;
}

.main-interview li img {
  width: 100%;
}

.footer {
  padding: 40px 0;
  background-color: #3a3a3a;
  border-bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

#drawArea {
  position: relative;
}

#drawArea #riku {
  width: 100%;
  height: 544px"
}

/* スマホ対応 */
@media (max-width: 760px) {
  .hide-sp {
    display: none;
  }
  .top-menu {
    height: 54px;
  }
  .top-menu #menu-body {
    padding: 0;
  }
  .top-menu #menu-body.on ul.menu-list {
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
  }
  .top-menu #menu-body.on #menu-button span {
    display: none;
  }
  .top-menu #menu-body.on #menu-button:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 17px;
  }
  .top-menu #menu-body.on #menu-button:after {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    bottom: 17px;
  }
  .top-menu h1.menu-home {
    top: 14px;
    left: 15px;
  }
  .top-menu h1.menu-home a {
    background-size: 44px 27px;
    width: 44px;
    height: 27px;
  }
  .top-menu #menu-button {
    position: absolute;
    top: 8px;
    right: 12px;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
  .top-menu #menu-button:before, .top-menu #menu-button:after, .top-menu #menu-button span {
    content: "";
    display: block;
    position: absolute;
    left: 9px;
    width: 18px;
    height: 2px;
    background: #979797;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }
  .top-menu #menu-button:before {
    top: 10px;
  }
  .top-menu #menu-button:after {
    bottom: 10px;
  }
  .top-menu #menu-button span {
    top: 17px;
  }
  .top-menu ul.menu-list {
    position: relative;
    top: 54px;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-backdrop-filter: blur(4px);
    border-top: 1px solid #eee;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
  }
  .top-menu li.body-item {
    margin: 0;
    height: auto;
    border-bottom: 1px solid #eee;
  }
  .top-menu li.body-item a {
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 0 10px;
  }
  .top-menu li.body-item.menu-events a, .top-menu li.body-item.menu-language a {
    padding-right: 40px;
    background: url("./images/icon-right.png") no-repeat 100% 50%;
    background-size: 9px 14px;
  }
  .top-menu li.body-item.menu-twitter a, .top-menu li.body-item.menu-facebook a, .top-menu li.body-item.menu-github a {
    background-position: 10px 50%;
    width: auto;
    padding-left: 40px;
    text-indent: 0;
  }
  .top-menu ul.menu-inner {
    display: block;
    position: static;
    background: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 0 0 1em;
  }
  .top-menu ul.menu-inner li {
    padding: 0;
    border-top: 1px solid #eee;
  }
  .module .module-inner {
    padding-top: 50px;
  }
  .module h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .main-intro {
    margin-top: 60px;
    height: auto;
    min-height: auto;
  }
  .main-intro .module-inner {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-intro .module-inner .intro-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background: 0;
  }
  .main-intro .module-inner .intro-text .intro-title {
    margin-right: 0;
    font-size: 18px;
  }
  .main-intro .module-inner .intro-text .intro-title .title-large {
    font-size: 25px;
  }
  .main-intro .module-inner .intro-text .intro-description {
    font-size: 15px;
    text-align: left;
    line-height: 1.4;
  }
  .main-intro .module-inner .intro-globe {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main-news .module-inner {
    padding-top: 0;
  }
  .main-news dl {
    margin: 0 10px;
  }
  .main-about {
    padding-bottom: 0;
  }
  .main-about h2 {
    font-size: 24px;
  }
  .main-about img {
    padding-top: 20px;
  }
  .main-about p {
    font-size: 16px;
    font-weight: normal;
  }
  .main-appInfo h2 {
    padding-bottom: 10px;
    font-size: 24px;
    text-align: center;
  }
  .main-appInfo h3 {
    font-size: 16px;
    text-align: center;
  }
  .main-appInfo .appInfo-video {
    margin-top: 0;
    background: 0;
    padding: 0;
  }
  .main-appInfo .appInfo-download .download-link {
    display: block;
  }
  .main-appInfo .appInfo-download .download-link a {
    margin: 10px;
    padding: 10px;
    border-radius: 24px;
  }
  .main-appInfo .appInfo-download .download-link a br {
    display: none;
  }
  .main-appInfo .appInfo-download .download-link a:nth-child(3) {
    padding: 10px;
  }
  .main-development dl {
    margin-right: 0;
  }
  .main-eventInfo p.large-txt {
    font-size: 16px;
  }
  .main-eventInfo ul.eventInfo-coming a .event-date {
    width: 35%;
    padding: 10px;
  }
  .main-eventInfo ul.eventInfo-coming a .event-date .date-place {
    width: auto;
  }
  .main-eventInfo ul.eventInfo-coming a .event-description {
    padding: 10px;
  }
  .main-eventInfo .eventInfo-past li {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
    max-width: 260px;
  }
  .main-eventInfo .eventInfo-past li:last-child {
    margin-right: auto;
  }
  .main-snsLink .snsLink-wrap {
    display: block;
  }
  .main-snsLink .snsLink-wrap .snsLink-module {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .main-joinus .joinus-github ul {
    padding-left: 15px;
  }
  .main-interview .module-inner {
    padding-top: 100px;
  }
  .main-interview li {
    width: 48%;
  }
  .main-interview li p {
    margin-right: 1%;
    line-height: 1.6;
    font-size: 13px;
  }
  .main-interview li:nth-child(3n) {
    margin-right: 2%;
  }
  .main-interview li:nth-child(2n) {
    margin-right: 0;
  }
}
