svg {
  font: 10px sans-serif;
  padding: 10px;
  display: block;
  margin: auto;
}
svg:not(:root){
      overflow: auto !important
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
}

#main {
  float: left;
  width: 550px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 500px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  text-align: center;
  margin: -50px 0 0 -50px;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
