.background-image {
    display: inline-block;
    margin-top: 200px;
}

.man {
    width: 200px;
}

.table {
    width: 450px;
}

.svg-area {
    display: inline-block;
    width: 850px;
    margin-top: -373px;
    padding-left: 90px;
}
